body{
    background-color: rgb(240, 240, 240);
}

.table-counter{
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    margin-top: 20px;
    background-color: green;
}

.table-counter p {
    display: block;
    margin-left: 10px;
}

.btn-primary{
    margin: 5px 10px;
}

.btn-danger{
    margin-left: 5px;
}

.orden-form{
    width: 40%;
    height: 400px;
    background-color: white;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 2px 1px gray;
    .form-group {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .continer-buttons{
        width: 50%;
        display: flex;
        transform: translateX(100px);
        justify-content: space-around;
    }
}

.form-group label{
    margin-bottom: 10px;
}
.form-group input{
    outline: none;
    width: 100%;
}

.info-form{
    width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    background-color: white;
    .form-group {
        width: 90%;
        display: flex;
        margin: auto;
        flex-direction: column;
        input{
            border-top: none;
            border-right: none;
            border-left: none;
        }
    }
}

.button-enviar{
    border: transparent;
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: green;
}

.buttons-info{
    margin-top: 20px;
}